<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fakebook News Feed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
</head>

<body>
    @Html.Partial("Navbar")
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-2"></div>
            <div class="col-sm-12 col-lg-2">
                <br />
                @Html.Partial("HomeSideBar")
            </div>
            <div class="col-sm-12 col-lg-5">
                <div class="row">
                    @Html.Partial("PostWrite")
                    @RenderBody()
                </div>
            </div>
            <div class="col-sm-12 col-lg-3"></div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/js")
    <script>
        $(document).ready(function () {
            var url = '@Url.Action("GetCurrentUser", "Home")';
            $.get(url, function (data) {
                var json = JSON.parse(data);
                $(".current-user").html(json.FullName);
                $(".profile-image").attr("src", json.ProfileImage);
                $("#profile-image-posting").attr("src", json.ProfileImage);
            });
        });
    </script>
    @RenderSection("scripts", false)
</body>

</html>
