<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fakebook News Feed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
</head>

<body>
    @Html.Partial("Navbar")
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-2"></div>
            <div class="col-sm-12 col-lg-8">
                <div class="row">
                    @Html.Partial("ProfileHeader")
                    <br />
                    @RenderBody()
                </div>
            </div>
            <div class="col-sm-12 col-lg-2"></div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/js")
    <script>
        $(document).ready(function () {
            var url1 = '@Url.Action("GetCurrentUser", "Home")';
            $.get(url1, function (data) {
                var json = JSON.parse(data);
                $("#current-user").html(json.FullName);
                $("#current-user-email").html(json.Email);
                $("#profile-image").attr("src", json.ProfileImage);
                $("#cover-image").css("background-image", "url('"+json.CoverImage+"'");
            });
            
        });
    </script>
    @RenderSection("scripts", false)
</body>

</html>
