@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}
@model List<PostVM>
@foreach (var post in Model)
{
    <div id="post" class="bg-light w-100">
        <div class="container p-3">
            <div class="row">
                <div class="col-sm-2 pr-0">
                    <img class="small_profile" src="@post.OwnerImage">
                </div>
                <div class="col-sm-10 pl-0 p-2">
                    <p class="profile_name font-weight-bold">@post.OwnerName</p>
                    <p class="post_date">@post.PostDate · <i class="fa fa-globe-americas"></i></p>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-sm-12">
                    <p class="post-content-text">
                        @post.TextContent
                    </p>
                    <img class="post_content_image" src="@post.ImageContent">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-lg-3">
                    <p class="alt-buttons">@post.LikesCount likes</p>
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <p class="alt-buttons">@post.CommentsCount comments</p>
                </div>
            </div>
            <div class="row p-2 text-center deneme">
                <div class="col-sm-4 col-lg-4">
                    <button class="alt-buttons like w-100" style="border: none;background: none;outline:0px !important;">
                        <i class="fa fa-thumbs-up" id="like-icon"></i>
                        <span id="like-text">Like</span>
                        <p id="@post.PostID" style="display: none;"></p>
                    </button>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <button class="alt-buttons commentClick w-100" style="border: none;background: none;outline:0px !important;">
                        <i class="fa fa-comment"></i> Comment
                    </button>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <button class="alt-buttons w-100" style="border: none;background: none;outline:0px !important;">
                        <i class="fa fa-share-square"></i> Share
                    </button>
                </div>
            </div>
            <div class="row p-1 write-comment" style="display: none;">
                <div class="col-sm-2 pr-0">
                    <img class="comment_profile" src="@post.OwnerImage">
                </div>
                <div class="col-sm-10 pl-0 p-2">
                    <input class="form-control comment" type="text" placeholder="Write your comment...">
                </div>
            </div>
        </div>
    </div><br>
}
<audio id="carteSoudCtrl">
    <source src="~/Sounds/like.mp3" type="audio/mpeg">
</audio>
@section scripts {
    <script>
        $(".alt-buttons").hover(function () {
            $(this).css("cursor", "pointer");
        });
        var count = 0;
        $(".commentClick").click(function () {
            $('#carteSoudCtrl')[0].play();
            if (count == 0) {
                $('.write-comment').css("display", "");
                count++;
            }
            else if (count == 1) {
                $('.write-comment').css("display", "none");
                count = 0;
            }
        });
        $(".like").click(function () {
            $('#carteSoudCtrl')[0].play();
            if (count == 0) {
                $(this).children("#like-text").css("color", "blue");
                $(this).children("#like-text").html("Liked");
                $(this).children("#like-icon").css("color", "blue");
                count++;
                like($(this).children("p").attr('id'));
            }
            else if (count == 1) {
                $(this).children("#like-text").css("color", "black");
                $(this).children("#like-text").html("Like");
                $(this).children("#like-icon").css("color", "black");
                count = 0;
                unlike($(this).children("p").attr('id'));
            }
        });
        function like(param) {
            var url = '@Url.Action("PostLike", "Home")';
            $.post(url, { id: param });
        };
        function unlike(param) {
            var url = '@Url.Action("PostUnlike", "Home")';
            $.post(url, { id: param });
        };
    </script>
}